/*pag em construcao*/
body.page-id-73949 {
    background-color: black;
}
.page-id-73949 #footer, .page-id-73949 .header-wrapper {
    display: none;
}
.page-id-73949 #section-1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 600px;
}
.page-id-73949 #fundo {
    width: inherit;
    height: inherit;
}
.page-id-73949 #breve {
    top: 10%;
    left: 40%;
    position: absolute;
}
@media screen and (min-width: 320px) and (max-width: 376px) {
    .page-id-73949 #section-1 {
        overflow: hidden;
    }
    .page-id-73949 #breve {
        left: 1%;
    }
}
@media screen and (min-width: 377px) and (max-width: 426px) {
    .page-id-73949 #breve {
        left: 4%;
    }
}
/*---HOME---*/
#logo-container {
    margin-left: -8%;
}
#header .navigation-container {
    margin-right: -8%;
}
body.page-id-73922 {
    background-color: black;
}
.page-id-73922 #content-container .section-boxed {
    margin: 0;
    max-width: 100%;
}
/*-ajustes-slides-*/
.slider-header {
    top: 50px; /*verificar responsividade*/
}
#como-atuamos-sub1 ,#como-atuamos-txt1 {
    top: -20px;
}
#como-atuamos-sub2, #como-atuamos-txt2 {
    top: 20px;
}
#telefone, #email{
    font-family: gt-bold;
    font-size: 20px;
}
#custom_html-4 {
    text-align: right;
}
#icone-email {
    margin-right: 20px;
}
.footer-bottom {
    display: none;
}

/*---POSTS---*/
.post-title {
    font-family: gt-medium;
}
button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
    position: absolute;
}
.page-id-74389 #content-container .section-boxed {
    margin: 0 auto;
    top: -15px;
}
#searchform {
    position: absolute;
    top: 70px;
    left: 72%;
}
.page-id-74389 #carrossel {
    padding: 0 80px;
}
#carrossel .rpc-post-category {
    display: none;
}
#titulo-lista {
    padding: 0 90px;
    font-family: gt-bold;
}
#lista {
    padding: 0 90px;
}
.lista-titulo-post {
    font-family: gt-medium;
    font-size: 19px;
}
.lista-resumo-post {
    font-family: gt-light;
    font-size: 14px;
    color: #888;
}

/*====RESPONSIVIDADE====*/
/*===-PC-===*/
@media screen and (min-width: 1280px) and (max-width: 1359px) {
    #logo-container {
        margin-left: -20px;
    }
    #header .navigation-container {
        margin-right: -20px;
    }
}
@media screen and (min-width: 1360px) and (max-width: 1439px) {
    #logo-container {
        margin-left: -50px;
    }
    #header .navigation-container {
        margin-right: -50px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1518px) {
    #logo-container {
        margin-left: -80px;
    }
    #header .navigation-container {
        margin-right: -80px;
    }
}
@media screen and (min-width: 1519px) and (max-width: 1600px) {
    #logo-container {
        margin-left: -80px;
    }
    #header .navigation-container {
        margin-right: -80px;
    }
}

/*===-MOBILE-===*/
/*==--HOME--==*/
/*todas*/
.page-id-74422 #section-1{
    margin: 0 !important;
}
.page-id-74422 .sidebar {
    display: none !important;
}
.page-id-74422 #logo-container {
    margin-left: unset;
}
/*servicos*/
.page-id-74422 #servicos .tp-bullets {
    transform: matrix(1, 0, 0, 1, -50, -78) !important; 
}
/*clientes*/
.page-id-74422 .mobile-title {
    font-family: gt-thin;
    font-size: 28px;
}
.page-id-74422 .mobile-paragraph {
    font-family: gt-light;
    font-size: 14px;
    line-height: 16px;
}
.page-id-74422 .mobile-paragraph, .page-id-74422 .mobile-title {
    color: black;
    margin: 0 3%;
}
/*parceiros*/
.page-id-74422 #parceiros .tp-bullets {
    transform: matrix(1, 0, 0, 1, 180, -78) !important; 
}
/*cases*/
.page-id-74422 #cases .tp-bullets {
    transform: matrix(1, 0, 0, 1, -50, -78) !important; 
}
/*insights*/
.page-id-74422 #insights .tp-bullets {
    transform: matrix(1, 0, 0, 1, 180, -78) !important; 
}
/*footer*/
.page-id-74422 footer #custom_html-3, .page-id-74422 footer #custom_html-4 {
    text-align: center;
}

/*=---METODOLOGIAS---=*/
.page-id-74426 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74426 .sidebar {
    display: none !important;
}
.page-id-74426 #logo-container {
    margin-left: unset;
}
.page-id-74426 .mobile-title {
    font-family: gt-thin;
    font-size: 28px;
    line-height: 31px;
    color: black;
    width: 60%;
}
.page-id-74426 .mobile-paragraph {
    font-family: gt-light;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.page-id-74426 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 45px;
}
.page-id-74426 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74426 button {
    font-family: gt-thin;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74426 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
.page-id-74426 #met-1-title-line1 {
    font-size: 64px;
    padding-bottom: 0; 
}
.page-id-74426 #met-1-title-line2 {
    font-size: 32px;
    padding-top: 0;
}
.page-id-74426 #met-2-title-line1 {
    font-size: 32px;
    padding-bottom: 0;
}
.page-id-74426 #met-2-title-line2 {
    font-size: 42px;
    padding-top: 0;
}
.page-id-74426 #met-3-title-line1{
    font-size: 34px;
    padding-bottom: 0;
}
.page-id-74426 #met-3-title-line2 {
    font-size: 18px;
    padding-top: 0;
    margin-top: -20px;
}
.page-id-74426 #met-4-title-line1 {
    font-size: 42px;
    padding-bottom: 0;
    line-height: 0.65;
}
.page-id-74426 #met-4-title-line2 {
    font-size: 20px;
    padding-top: 0;
    margin-top: -56px;
    margin-left: 50px;
    line-height: 1.5;
}
.page-id-74426 #met-5-title-line1 {
    font-size: 50px;
    padding-bottom: 0;
}
/*footer*/
.page-id-74426 footer #custom_html-3, .page-id-74426 footer #custom_html-4 {
    text-align: center;
}

/*----Design Thinking----*/
.page-id-74431 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74431 .sidebar {
    display: none !important;
}
.page-id-74431 #logo-container {
    margin-left: unset;
}
.page-id-74431 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74431 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74431 #met-1-title-line1 {
    font-size: 64px;
    padding-bottom: 0; 
}
.page-id-74431 #met-1-title-line2 {
    font-size: 32px;
    padding-top: 0;
}
.page-id-74431 button {
    font-family: gt-thin;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74431 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
/*footer*/
.page-id-74431 footer #custom_html-3, .page-id-74431 footer #custom_html-4 {
    text-align: center;
}
/*----Applied Innovation----*/
.page-id-74434 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74434 .sidebar {
    display: none !important;
}
.page-id-74434 #logo-container {
    margin-left: unset;
}
.page-id-74434 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74434 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74434 #met-2-title-line1 {
    font-size: 32px;
    padding-bottom: 0;
}
.page-id-74434 #met-2-title-line2 {
    font-size: 42px;
    padding-top: 0;
}
.page-id-74434 button {
    font-family: gt-thin;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74434 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
/*footer*/
.page-id-74434 footer #custom_html-3, .page-id-74434 footer #custom_html-4 {
    text-align: center;
}
/*---Matemática aplicada----*/
.page-id-74437 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74437 .sidebar {
    display: none !important;
}
.page-id-74437 #logo-container {
    margin-left: unset;
}
.page-id-74437 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74437 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74437 #met-3-title-line1{
    font-size: 34px;
    padding-bottom: 0;
}
.page-id-74437 #met-3-title-line2 {
    font-size: 18px;
    padding-top: 0;
    margin-top: -20px;
}
.page-id-74437 button {
    font-family: gt-thin;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74437 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
/*footer*/
.page-id-74437 footer #custom_html-3, .page-id-74437 footer #custom_html-4 {
    text-align: center;
}
/*----Teoria das restrições----*/
.page-id-74440 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74440 .sidebar {
    display: none !important;
}
.page-id-74440 #logo-container {
    margin-left: unset;
}
.page-id-74440 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74440 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74440 #met-4-title-line1 {
    font-size: 42px;
    padding-bottom: 0;
    line-height: 0.65;
}
.page-id-74440 #met-4-title-line2 {
    font-size: 20px;
    padding-top: 0;
    margin-top: -56px;
    margin-left: 50px;
    line-height: 1.5;
}
.page-id-74440 button {
    font-family: gt-thin;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74440 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
/*footer*/
.page-id-74440 footer #custom_html-3, .page-id-74440 footer #custom_html-4 {
    text-align: center;
}