/*pag em construcao*/
body.page-id-73949 {
    background-color: black;
}
.page-id-73949 #footer, .page-id-73949 .header-wrapper {
    display: none;
}
.page-id-73949 #section-1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 600px;
}
.page-id-73949 #fundo {
    width: inherit;
    height: inherit;
}
.page-id-73949 #breve {
    top: 10%;
    left: 40%;
    position: absolute;
}
@media screen and (min-width: 320px) and (max-width: 376px) {
    .page-id-73949 #section-1 {
        overflow: hidden;
    }
    .page-id-73949 #breve {
        left: 1%;
    }
}
@media screen and (min-width: 377px) and (max-width: 426px) {
    .page-id-73949 #breve {
        left: 4%;
    }
}
/*---HOME---*/
#logo-container {
    margin-left: -8%;
}
#logo-container img {
    width: 123px;
}
#header .navigation-container {
    margin-right: -8%;
}
.header-wrapper {
    padding-top: 64px !important;
}
#header {
    padding-top: 10px;
}
body.page-id-73922 {
    background-color: black;
}
.page-id-73922 #content-container .section-boxed {
    margin: 0;
    max-width: 100%;
}
/*-ajustes-slides-*/
.slider-header {
    top: 50px;
}
#rev_slider_6_2 .persephone-2.tparrows:before, 
#rev_slider_7_3 .persephone-2.tparrows:before, 
#rev_slider_8_4 .persephone-2.tparrows:before, 
#rev_slider_9_5 .persephone-2.tparrows:before,
#rev_slider_10_6 .persephone-2.tparrows:before {
    font-size: 35px;
}
#como-atuamos-sub1 ,#como-atuamos-txt1 {
    top: -20px;
}
#como-atuamos-sub2 {
    top: 10px;
}
#telefone, #email{
    font-family: gt-bold;
    font-size: 20px;
}
#custom_html-4 {
    text-align: right;
}
#icone-email {
    margin-right: 20px;
}
.footer-bottom {
    display: none;
}

/*---POSTS---*/
.post-title {
    font-family: gt-medium;
}
button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
    position: absolute;
}
.page-id-74389 #content-container .section-boxed {
    margin: 0 auto;
    top: -15px;
}
#searchform {
    position: absolute;
    top: 70px;
    left: 72%;
}
.page-id-74389 #carrossel {
    padding: 0 80px;
}
#carrossel .rpc-post-category {
    display: none;
}
#titulo-lista {
    padding: 0 90px;
    font-family: gt-bold;
}
#lista {
    padding: 0 90px;
}
.lista-titulo-post {
    font-family: gt-medium;
    font-size: 19px;
}
.lista-resumo-post {
    font-family: gt-light;
    font-size: 14px;
    color: #888;
}

/*====RESPONSIVIDADE====*/
/*===-PC-===*/
@media screen and (min-width: 1280px) and (max-width: 1359px) {
    #logo-container {
        margin-left: -20px;
    }
    #header .navigation-container {
        margin-right: -20px;
    }
}
@media screen and (min-width: 1360px) and (max-width: 1439px) {
    #logo-container {
        margin-left: -50px;
    }
    #header .navigation-container {
        margin-right: -50px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1518px) {
    #logo-container {
        margin-left: -80px;
    }
    #header .navigation-container {
        margin-right: -80px;
    }
}
@media screen and (min-width: 1519px) and (max-width: 1600px) {
    #logo-container {
        margin-left: -80px;
    }
    #header .navigation-container {
        margin-right: -80px;
    }
}
@media screen and (min-width: 1800px) and (max-width: 1920px) {
    #logo-container {
        margin-left: -21%;
    }
    #header .navigation-container {
        margin-right: -21%;
    }
    #como-atuamos-sub1{
        top: 0px;
    }
    .clientes-fio-laranja {
        top: 20px;
    }
}
@media screen and (min-width: 1921px) {
    #logo-container img {
        width: 125px;
    }
    .nav-menu ul li a {
        font-size: 14px;
    }
} 
@media screen and (min-height: 600px) and (max-height: 700px) {
    .slider-header {
        top: 60px;
    }
}

/*===-MOBILE-===*/
/*==--HOME--==*/
/*todas*/
.page-id-74422 #section-1{
    margin: 0 !important;
}
.wprmenu_bar #custom_menu_icon.hamburger {
    position: absolute;
}
@media screen and (max-width: 426px) {
    .slider-header {
        top: 0px !important;
    }
    #logo-container {
        margin-left: unset;
    }
    .tparrows {
        display: none !important;
    }
    .sidebar {
        display: none;
    }
    footer #custom_html-3, footer #custom_html-4 {
        text-align: center;
    }
    /*servicos*/
    #como-atuamos-sub1, #como-atuamos-txt1 {
        top: unset;
    }
    #parceiros-tony {
        top: 7px
    }
    #parceiros-pipefy {
        top: 7px
    }

    /*cases*/
    #cases .tp-bullet.selected {
        background-color: rgb(0,0,0);
    }
    
    #cases .tp-bullet {
        border-color: rgb(0,0,0);
    }

    /*insights*/
    form#searchform {
        top: 55px;
        left: 50%;
    }
    .page-id-74389 #carrossel {
        padding: 0 40px;
    }
}
/*acertos bolinhas navegacao*/
@media screen and (max-width: 321px) {
    /*parceiros*/
    .page-id-74422 #parceiros .tp-bullets {
        transform: matrix(1, 0, 0, 1, 128, -45) !important; 
    }
    /*insights*/
    .page-id-74422 #insights .tp-bullets {
        transform: matrix(1, 0, 0, 1, 117, -45) !important; 
    }
}
@media screen and (min-width: 322px) and (max-width: 376px) {
    /*parceiros*/
    .page-id-74422 #parceiros .tp-bullets {
        transform: matrix(1, 0, 0, 1, 155, -45) !important; 
    }
    /*insights*/
    .page-id-74422 #insights .tp-bullets {
        transform: matrix(1, 0, 0, 1, 144, -45) !important; 
    }
}
@media screen and (min-width: 377px) and (max-width: 426px) {
    /*parceiros*/
    .page-id-74422 #parceiros .tp-bullets {
        transform: matrix(1, 0, 0, 1, 180, -45) !important; 
    }
    /*insights*/
    .page-id-74422 #insights .tp-bullets {
        transform: matrix(1, 0, 0, 1, 169, -45) !important; 
    }
}
/*servicos*/
.page-id-74422 #servicos .tp-bullets {
    transform: matrix(1, 0, 0, 1, -55, -45) !important; 
}
/*clientes*/
.page-id-74422 .mobile-title {
    font-family: gt-thin;
    font-size: 28px;
}
.page-id-74422 .mobile-paragraph {
    font-family: gt-light;
    font-size: 14px;
    line-height: 16px;
}
.page-id-74422 .mobile-paragraph, .page-id-74422 .mobile-title {
    color: black;
    margin: 0 3%;
}

/*cases*/
.page-id-74422 #cases .tp-bullets {
    transform: matrix(1, 0, 0, 1, -55, -45) !important; 
}

/*=---METODOLOGIAS---=*/
.page-id-74426 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74426 .mobile-title {
    font-family: gt-thin;
    font-size: 28px;
    line-height: 31px;
    color: black;
    width: 60%;
}
@media screen and (max-width: 320px) {
    .page-id-74426 .mobile-title {
        width: 80%;
    }
}
.page-id-74426 .mobile-paragraph {
    font-family: gt-light;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.page-id-74426 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 45px;
}
.page-id-74426 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74426 button {
    font-family: gt-thin;
    font-weight: bold;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74426 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
.page-id-74426 #met-1-title-line1 {
    font-size: 64px;
    padding-bottom: 0; 
}
.page-id-74426 #met-1-title-line2 {
    font-size: 32px;
    padding-top: 0;
}
.page-id-74426 #met-2-title-line1 {
    font-size: 32px;
    padding-bottom: 0;
}
.page-id-74426 #met-2-title-line2 {
    font-size: 42px;
    padding-top: 0;
}
.page-id-74426 #met-3-title-line1{
    font-size: 34px;
    padding-bottom: 0;
}
.page-id-74426 #met-3-title-line2 {
    font-size: 18px;
    padding-top: 0;
    margin-top: -20px;
}
.page-id-74426 #met-4-title-line1 {
    font-size: 42px;
    padding-bottom: 0;
    line-height: 0.65;
}
.page-id-74426 #met-4-title-line2 {
    font-size: 20px;
    padding-top: 0;
    margin-top: -56px;
    margin-left: 50px;
    line-height: 1.5;
}
.page-id-74426 #met-5-title-line1 {
    font-size: 50px;
    padding-bottom: 0;
}

/*----Design Thinking----*/
.page-id-74431 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74431 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74431 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74431 #met-1-title-line1 {
    font-size: 64px;
    padding-bottom: 0; 
}
.page-id-74431 #met-1-title-line2 {
    font-size: 32px;
    padding-top: 0;
}
.page-id-74431 button {
    font-family: gt-thin;
    font-weight: bold;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74431 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

/*----Applied Innovation----*/
.page-id-74434 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74434 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74434 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74434 #met-2-title-line1 {
    font-size: 32px;
    padding-bottom: 0;
}
.page-id-74434 #met-2-title-line2 {
    font-size: 42px;
    padding-top: 0;
}
.page-id-74434 button {
    font-family: gt-thin;
    font-weight: bold;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74434 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

/*---Matemática aplicada----*/
.page-id-74437 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74437 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74437 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74437 #met-3-title-line1{
    font-size: 34px;
    padding-bottom: 0;
}
.page-id-74437 #met-3-title-line2 {
    font-size: 18px;
    padding-top: 0;
    margin-top: -20px;
}
.page-id-74437 button {
    font-family: gt-thin;
    font-weight: bold;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74437 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

/*----Teoria das restrições----*/
.page-id-74440 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74440 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74440 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74440 #met-4-title-line1 {
    font-size: 42px;
    padding-bottom: 0;
    line-height: 0.65;
}
.page-id-74440 #met-4-title-line2 {
    font-size: 20px;
    padding-top: 0;
    margin-top: -56px;
    margin-left: 50px;
    line-height: 1.5;
}
.page-id-74440 button {
    font-family: gt-thin;
    font-weight: bold;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74440 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

/*----Lean----*/
.page-id-74444 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74444 #fundo {
    background-color: #f8fdfa;
    padding: 35px;
    padding-bottom: 50px;
}
.page-id-74444 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74444 #met-5-title-line1 {
    font-size: 50px;
    padding-bottom: 0;
}
.page-id-74444 button {
    font-family: gt-thin;
    font-weight: bold;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74444 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

/*=---FERRAMENTAS---=*/
.page-id-74447 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74447 #fundo {
    padding: 10px 35px 50px 35px;
}
/* .page-id-74447 #page-title {
    background-image: url('http://possumsolutions.com/wp-content/uploads/2018/10/ferramentas-fundo-mobile.jpg');
    background-repeat: no-repeat;
} */
.page-id-74447 .mobile-title {
    font-family: gt-thin;
    font-size: 28px;
    line-height: 31px;
    color: black;
    width: 55%;
    padding: 35px;
    padding-bottom: 10px;
}
@media screen and (max-width: 320px) {
    .page-id-74447 .mobile-title {
        width: 68%;
    }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
    .page-id-74447 .mobile-title {
        width: 58%
    }
}
.page-id-74447 .mobile-paragraph {
    font-family: gt-light;
    font-size: 14px;
    line-height: 16px;
    color: black;
    width: 60%;
    padding-left: 35px;
    padding-top: 10px;
}
.page-id-74447 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74447 .item-title {
    font-size: 35px;
}
.page-id-74447 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
.page-id-74447 button {
    font-family: gt-thin;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}

/*=---CONSULTORIA---=*/
.page-id-74451 #section-1{
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-74451 #fundo {
    padding: 35px;
    background-color: white;
}
.page-id-74451 .mobile-title {
    font-family: gt-thin;
    font-size: 28px;
    line-height: 31px;
    color: black;
    width: 65%;
}
.page-id-74451 h2 {
    font-family: gt-medium;
    line-height: 1; 
}
.page-id-74451 .item-title {
    font-size: 35px;
}
.page-id-74451 .item-content {
    font-family: gt-light;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
.page-id-74451 button {
    font-family: gt-thin;
    float: right;
    padding: 7px 13px;
    border-radius: 0;
}
.page-id-74451 #cons-1-title-line1 {
    font-size: 28px;
    padding-bottom: 0;
    line-height: 1.4;
}
.page-id-74451 #cons-1-title-line2 {
    font-size: 50px;
    padding-top: 0;
    line-height: 0.65;
    margin-top: -77px;
    margin-bottom: 45px;
}
.page-id-74451 #cons-2-title-line1 {
    font-size: 62px;
    padding-bottom: 0;
}
.page-id-74451 #cons-2-title-line2 {
    font-size: 29px;
    padding-top: 0;
}
.page-id-74451 #cons-3-title-line1{
    font-size: 28px;
    padding-bottom: 0;
}
.page-id-74451 #cons-3-title-line2 {
    font-size: 52px;
    padding-top: 0;
}
.page-id-74451 #cons-4-title-line1 {
    font-size: 60px;
    padding-bottom: 0;
}
.page-id-74451 #cons-4-title-line2 {
    font-size: 35px;
    padding-top: 0;
    margin-left: 50px;
}
.page-id-74451 #cons-5-title-line1 {
    font-size: 48px;
    padding-bottom: 0;
}
.page-id-74451 #cons-5-title-line2 {
    font-size: 32px;
    padding-top: 0;
    margin-left: 35px;
}
.page-id-74451 #cons-6-title-line1 {
    font-size: 38px;
    padding-bottom: 0;
}
.page-id-74451 #cons-7-title-line1 {
    font-size: 60px;
    padding-bottom: 0px;
}
.page-id-74451 #cons-7-title-line2 {
    font-size: 36px;
    padding-bottom: 0;
    margin-left: 220px;
    margin-top: -48px;
    margin-bottom: 15px;
}
.page-id-74451 #cons-8-title-line1 {
    font-size: 52px;
    padding-bottom: 0;
}

/*====TABLETS====*/
@media screen and (min-width: 427px) and (max-width: 769px) {
    #logo-container {
        margin-left: unset;
    }
    #header .navigation-container {
        margin-right: unset;
    }
}